<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h4>
                    <span>Khai báo cuộc kiểm toán thuộc kế hoạch kiểm toán năm của đơn vị trực thuộc KTNN</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        <div class="card">
            <div class="body">
                <div class="row" style="margin-bottom:10px;">
                    <button type="button" class="btn btn-info waves-effect btt">
                        <i class="material-icons">control_point</i>
                        <span class="spn">Thêm mới</span>
                    </button>
                    <button type="button" class="btn btn-info waves-effect btt">
                        <i class="material-icons">print</i>
                        <span class="spn">In</span>
                    </button>
                    <button type="button" class="btn btn-info waves-effect btt">
                        <i class="material-icons">layers</i>
                        <span class="spn">Kết xuất</span>
                    </button>
                </div>
                <div class="row">
                    <div class="alert alert-info">Thông tin tìm kiếm</div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Năm kế hoạch(từ...đến)</p>

                    </div>
                    <div class="col-md-1">
                        <select class="form-control">
                            <option>2017</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <select class="form-control">
                            <option>2018</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <p>Lĩnh vực/loại hình kiểm toán</p>

                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Tất cả</option>
                            <option>Ngân sách trung ương</option>
                            <option>Ngân sách địa phương</option>
                            <option>Doanh nghiệp</option>
                            <option>Tài chính ngân hàng</option>
                            <option>Kiểm toán hoạt động</option>
                        </select>

                    </div>
                </div>
                <div class="row margi">
                    <div class="col-md-2">
                        <p>Tính chất dự kiến/dự phòng</p>

                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option>Tất cả</option>

                        </select>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success waves-effect btt">
                            <i class="material-icons">search</i>
                            <span class="spn">Tìm kiếm</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-info">
                        Danh sách cuộc kiểm toán thuộc kế hoạch năm của đơn vị trực thuộc KTNN
                    </div>
                </div>
                <div class="row">
                    <div class="body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã cuộc kiểm toán</th>
                                    <th>Tên cuộc kiểm toán</th>
                                    <th>Năm kế hoạch</th>
                                    <th>Tên đơn vị chủ trì cuộc kiểm toán</th>
                                    <th>Lĩnh vực/loại hình kiểm toán</th>
                                    <th>Tính chất</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>2018.KTNBNMDK.V</td>
                                    <td>NSĐP năm 2017 của TP Hà Nội</td>
                                    <td>2018</td>
                                    <td>KTNN của khu vực 1</td>
                                    <td>Ngân sách địa phương</td>
                                    <td>Dự kiến</td>
                                    <td>
                                        <button type="button" class="btn bg-gray waves-effect btt" style="margin-right:10px;">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button type="button" class="btn bg-red waves-effect btt">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
