<div class="row margin-bottom-5">
    <div class="col-xs-12">
        <div class="page-head">
            <div class="page-title">
                <h4>
                    <span>Thêm mới cuộc kiểm toán thuộc kế hoạch kiểm toán năm của đơn vị trực thuộc KTNN</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="card">
            <div class="body">
                <div class="row" style="margin-bottom:10px; border-bottom: 1px solid #ededed;padding-bottom: 15px;">
                    <button type="button" class="btn btn-info waves-effect">
                        <i class="material-icons">save</i>
                        <span>Ghi</span>
                    </button>
                    <button type="button" class="btn btn-info waves-effect">
                        <i class="material-icons">undo</i>
                        <span>Quay lại</span>
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p>Mã cuộc kiểm toán*</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-line">
                            <input type="text" class="form-control fix" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Tên cuộc kiểm toán*</p>
                    </div>
                    <div class="col-md-10">
                        <div class="form-line">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Năm kế hoạch*</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-line">
                            <input type="text" class="form-control fix" disabled>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p>Tên đơn vị chủ trì cuộc kiểm toán*</p>

                    </div>
                    <div class="col-md-3">
                        <select class="form-control show-tick fix" disabled>
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Lĩnh vực/loại hình kiểm toán*</p>

                    </div>
                    <div class="col-md-3">
                        <select class="form-control show-tick">
                            <option>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <p>Phân nhóm lĩnh vực kiểm toán*</p>

                    </div>
                    <div class="col-md-3">
                        <select class="form-control show-tick">
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Tên đơn vị, đầu mối được kiểm toán*</p>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control">
                            <option>Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>Tính chất dự kiến/dự phòng*</p>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control show-tick">
                            <option>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <p>Trạng thái</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-line">
                            <input type="text" value="Nhập liệu" class="form-control fix" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="alert alert-info">
                        Danh sách đơn vị thành viên được kiểm toán thuộc đơn vị, đầu mối đươc kiểm toán*
                    </div>
                </div>
                <div class="row">
                    <div class="body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nhóm đơn vị thành viên được kiểm toán</th>
                                    <th>Tên đơn vị thành viên thuộc đơn vị, đầu mối được kiểm toán</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>2018.KTNBNMDK.V</td>
                                    <td>NSĐP năm 2017 của TP Hà Nội</td>
                                    <td>
                                        <button type="button" class="btn bg-gray waves-effect" style="margin-right:10px;">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button type="button" class="btn bg-red waves-effect">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
